<header>
	<div class="container">
		<div class="top-bar">
			<div class="logo"><a [routerLink]="['']"><img src="./app/img/logo.png"></a></div>
			<div class="info">
				<ul>
					<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+45 22660077</a></li>
					<li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Lorem@Ipsum.com</a></li>
					<li><a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i>$99.54 <span>CHECKOUT</span></a></li>
					<button type="button" class="navbar-toggle collapsed">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</ul>
			</div>
		</div>
	</div>
		<div id="main-nav">
			<div class="container">
				<nav>
					<ul>
						<li class="dropdown"><a [routerLink]="['']">HOME</a>
							<ul>
								<li><a>lorem</a></li>
								<li><a>dorem sia</a></li>
								<li><a>erik</a></li>
								<li><a>ipsum padam</a></li>
								<li><a>behance</a></li>
							</ul>
						</li>
						<li><a>MEN</a></li>
						<li><a>WOMEN</a></li>
						<li><a>KIDS</a></li>
						<li><a>SALE</a></li>
						<li><a>ABOUT US</a></li>
						<li><a [routerLink]="['contact']">SUPPORT</a></li>
						<li><i class="fa fa-search" aria-hidden="true"></i><input type="text" placeholder="Search..."></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="nav-border"></div>
</header>