<div class="newsletter">
	<div class="container">
		<div class="inner">
			<h2>Sign up for exclusive sales and product news</h2>
			<form action="">
				<input type="text" placeholder="LOREM@IPSUM.COM">
				<input type="submit" value="SIGN UP">
			</form>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="col-xs-12 col-md-4">
			<h2>Our stores</h2>
			<p>Feel free to visit out stores or contact us</p>
			<ul>
				<li>Vindegade 109</li>
				<li>5000 Odense</li>
				<li>99886622</li>
			</ul>
			<ul>
				<li>Vestergade 910</li>
				<li>9000 Aalborg</li>
				<li>96819191</li>
			</ul>
			<ul class="social-media">
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-4 blog">
			<h2>Blog posts</h2>
			<ul>
				<li>
					<a href="#">
						<h3>Lorem ipsum hey</h3>
						<p>Lorem ipsum dolor sit amet, consectetur
						adipiscing elit. Donec sed auctor elit.</p>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>New sexy sport clothes are here!</h3>
						<p>Lorem ipsum dolor sit amet, consectetur
						adipiscing elit. Donec sed auctor elit.</p>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>Summer sales are coming!</h3>
						<p>Lorem ipsum dolor sit amet, consectetur
						adipiscing elit. Donec sed auctor elit.</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-4 support">
			<h2>Support</h2>
			<ul class="col-xs-6">
				<li><a href="#">Terms &amp; Conditions</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Payment</a></li>
				<li><a href="#">Refunds</a></li>
				<li><a href="#">Track Order</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Privacy &amp; Security</a></li>
				<li><a href="#">Careeers</a></li>
				<li><a href="#">Press</a></li>
				<li><a href="#">Corporate Information</a></li>
			</ul>
			<ul class="col-xs-6">
				<li><a href="#">Sizing</a></li>
				<li><a href="#">Ordering</a></li>
				<li><a href="#">Shipping</a></li>
				<li><a href="#">Return Policy</a></li>
				<li><a href="#">Affiliates</a></li>
				<li><a href="#">Find A Store</a></li>
				<li><a href="#">Site Map</a></li>
				<li><a href="#">Sign Up &amp; Save</a></li>
			</ul>
		</div>
	</div>
</footer>